        <footer class="footer" id="footer">
            <div class="footer-title">
                <div class="body-content">
                    <div class="row container-flex">
                        <div class="col-8 services">
                            <span>Serviços</span>
                        </div>
                        <div class="col-8 callCenter">
                            <span>Central de atendimento</span>
                        </div>
                        <div class="col-8 certified">
                            <span>Certificados</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-background-beige footer-tools">
                <div class="body-content">
                    <div class="row container-flex">
                        <div class="col-8 services">
                            <ul class="footer-services--list">
                                <li class="footer-services--item">
                                    <a href="#" title="A empresa">
                                        A empresa
                                    </a>
                                </li>
                                <li class="footer-services--item">
                                    <a href="#" title="Segurança">
                                        Segurança
                                    </a>
                                </li>
                                <li class="footer-services--item">
                                    <a href="#" title="Como Comprar">
                                        Como Comprar
                                    </a>
                                </li>
                                <li class="footer-services--item">
                                    <a href="#" title="Entregas">
                                        Entregas
                                    </a>
                                </li>
                                <li class="footer-services--item">
                                    <a href="#" title="Meu Cadastro">
                                        Meu Cadastro
                                    </a>
                                </li>
                                <li class="footer-services--item">
                                    <a href="#" title="Meus Pedidos">
                                        Meus Pedidos
                                    </a>
                                </li>
                                <li class="footer-services--item">
                                    <a href="#" title="Pagamentos">
                                        Pagamentos
                                    </a>
                                </li>
                                <li class="footer-services--item">
                                    <a href="#" title="Seja nosso Fornecedor">
                                        Seja nosso Fornecedor
                                    </a>
                                </li>
                                <li class="footer-services--item">
                                    <a href="#" title="Trocas e Devoluções">
                                        Trocas e Devoluções
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-8 callCenter">
                            <div class="footer-callcenter">
                                <i class="sprite-callcenter"></i>
                                <p>Tire suas dúvidas</p>
                                <a href="#" title="Acesse nossos canais de atendimento" class="btn btn--primary btn--arrow-right">Acesse nossos canais de atendimento</a>
                            </div>
                        </div>
                        <div class="col-8 certified">
                            <div class="footer-certified">
                                <i class="sprite-security"></i>
                                <a href="#" title="" class="btn btn--pink"><span class="sprite-pinkLock"></span>Nosso site é seguro</a>
                                <a href="#" class="linkTo">Saiba porque <span>></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-relation">
                <div class="body-content">
                    <div class="footer-title">
                        <div class="row container-flex">
                            <div class="col-24 relation">
                                <span>Relacionamento</span>
                            </div>
                        </div>
                    </div>
                    <div class="footer-relation--content">
                        <div class="row container-flex">
                            <div class="col-24 relation">
                                <div class="fb-page" data-href="https://www.facebook.com/graodegente/" data-tabs="" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/graodegente/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/graodegente/">Grão de Gente</a></blockquote></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="{{`js/jquery.min.js` | absURL}}"></script>
        <script src="{{`js/jquery.lwtCountdown-1.0.js` | absURL}}"></script>
        <script src="{{`js/jquery.validate.min.js` | absURL}}"></script>
        <script src="{{`js/jquery.form.js` | absURL}}"></script>
        <script src="{{`js/jquery.nav.js` | absURL}}"></script>
    </body>
</html>