<div class="header-tools--container">
    <div class="body-content">
        <div class="row">
            <div class="col-24">
                <ul class="header-tools container-flex">
                    <li class="header-tools--item callCenter first">
                        <a href="" title="" class="container-flex">
                            <i class="icon-user"></i>
                            <p>Central de Atendimento</p>
                        </a>
                    </li>
                    <li class="header-tools--item myOrders">
                        <a href="" title="" class="container-flex">
                            <i class="icon-copy"></i>
                            <p>Meus Pedidos</p>
                        </a>
                    </li>
                    <li class="header-tools--item wishlist">
                        <a href="" title="" class="container-flex">
                            <i class="icon-heart-empty"></i>
                            <p>Favoritos</p>
                        </a>
                    </li>
                    <li class="header-tools--item cart last">
                        <a href="" title="" class="container-flex">
                            <i class="icon-cart"></i>
                            <p>Meu Carrinho</p>
                            <span class="counter">0</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>