.dropdown-content{
    border-bottom: 1px solid $gray2;
    background-color: #f3f3f3;
    padding: 20px 20px 10px;
    margin-bottom: 40px;
    font-size: 13px;
    line-height: 18px;

    &__detail{
        display: none;
    }

    &__btn{
        width: 100%;
        display: block;
        padding: 10px 0 5px;
        margin-top: 20px;
        background-color: transparent;
        cursor: pointer;
        font-family: $family-semibold;
        font-size: 12px;
        text-transform: uppercase;
        text-align: left;

        &:before{
            font-family: arial;
            float: right;
            font-size: 26px;
            color: #ccc;
            position: relative;
            top: -4px;
        }
    }
}