.slider{
    .slick-dotted.slick-slider{
        margin-bottom: 0px !important;
    }
    .slick-dots {
        background-color: #ffffff;
        display: block;
        padding: 5px 5% 0;
        line-height: 0px;
        position: relative;
        bottom: 0;
    
        li {
            display: inline-block;
            width: auto;
            margin: 0;
            height: auto;
    
            button {
                background-color: #cccccc;
                margin: 0 2px;
                width: 6px;
                height: 6px;
                text-indent: -9999999999999px;
                padding: 0;
                border-radius: 50%;
            }
    
            &.slick-active button {
                background-color: $green;
            }
        }
    }
    .slick-list {
        background-color: #ffffff;
        overflow: hidden;
    }
    .slick-track{
        @extend %display-flex;
    }

    /* Contador */
    .banner-contador{
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        align-items: baseline;
        -webkit-align-items: baseline;
        background-color: #000;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        padding: 5px;
        color: #fff;
        font-size: 10px;
        text-align: center;

        .tituloTimer{
            font-family: $family-bold;
            font-size: 10px;
        }
    }
}

.timer{
    font-size: 17px;
    text-align: left;
    width: auto;
    font-family: Arial;
    font-weight: 700;
    padding-left: 5px;
}