        <footer class="footer" id="footer" data-footer>
            {{ partial "newsletter.html" }}
            <ul class="footer-menu--list" itemtype="http://schema.org/SiteNavigationElement">
                <li class="footer-menu--item closed">
                    <meta itemprop="name" content="Institucional">
                    <div class="footer-menu--item-title">
                        <p>Ajuda<i class="icon-plus">+</i></p>
                    </div>
                    <ul class="footer-menu--item-content">
                        <li>
                            <a href="https://apps.graodegente.com.br/CentraldeAtendimento/" itemprop="url" title="Central de Atendimento" class="flex">
                                Central de Atendimento
                                <i class="icon-arrow-right"></i>
                            </a>
                        </li>
                        <li>
                            <link itemprop="url" href="https://www.graodegente.com.br/meu-cadastro">
                            <a href="/meu-cadastro" title="Meu Cadastro" class="flex">
                                Meu Cadastro
                                <i class="icon-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="footer-menu--item closed">
                    <div class="footer-menu--item-title">
                        <p>Meus Pedidos<i class="icon-plus">+</i></p>
                    </div>
                    <ul class="footer-menu--item-content">
                        <li class="box-orders">
                            <strong>Quando vai chegar o meu pedido?</strong>
                            <div class="box-orders--input flex">
                                <input type="text" name="orderId"/>
                                <button class="btn btn-primary">Ok</button>
                            </div>
                        </li>
                        <li>
                            <link itemprop="url" href="https://www.graodegente.com.br/meus-pedidos">
                            <a href="/meus-pedidos" title="Ver meus pedidos">
                                Ver meus pedidos
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="footer-menu--item closed">
                    <div class="footer-menu--item-title">
                        <p>Institucional<i class="icon-plus">+</i></p>
                    </div>
                    <ul class="footer-menu--item-content">
                        <li>
                            <link itemprop="url" href="https://www.graodegente.com.br/a-empresa">
                            <a href="/a-empresa" title="A Empresa" class="flex">
                                A empresa 
                            </a>
                        </li>
                        <li>
                            <a href="https://apps.graodegente.com.br/CentraldeAtendimento/CategoryDetail?CategoryId=6" title="Segurança e privacidade" itemprop="url">
                                Segurança e Privacidade
                            </a>
                        </li>
                        <li>
                            <a href="https://apps.graodegente.com.br/CentraldeAtendimento/ArticleDetail?ArticleId=8" title="Como comprar" itemprop="url">
                                Como Comprar
                            </a>
                        </li>
                        <li>
                            <a href="https://apps.graodegente.com.br/CentraldeAtendimento/CategoryDetail?CategoryId=4" title="Entregas" itemprop="url">
                                Entregas
                            </a>
                        </li>
                        <li>
                            <a href="https://apps.graodegente.com.br/CentraldeAtendimento/ArticleDetail?ArticleId=9" title="Pagamentos" itemprop="url">
                                Pagamentos
                            </a>
                        </li>
                        <li>
                            <a href="https://apps.graodegente.com.br/CentraldeAtendimento/CategoryDetail?CategoryId=5" title="Trocas e devoluções" itemprop="url">
                                Trocas e Devoluções
                            </a>
                        </li>
                        <li>
                            <link itemprop="url" href="https://www.graodegente.com.br/regrasparafretegratis">
                            <a href="/regrasparafretegratis" title="Regras de Frete">
                                Regras de frete
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="footer-menu--item closed">
                    <div class="footer-menu--item-title">
                        <p>Redes Sociais<i class="icon-plus">+</i></p>
                    </div>
                    <ul class="footer-menu--item-content networks">
                        <li>
                            <a href="https://www.facebook.com/graodegente" title="Acessar nosso Facebook" class="flex facebook"  itemprop="url"  rel="nofollow" target="_blank">
                                <i class="icon-facebook"></i>
                                <span class="content-title">Facebook</span>
                                <span class="content-info"><strong>5.008.713</strong> de curtidas</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/graodegente/" title="Acessar nosso Instagram" class="flex instagram"  itemprop="url"  rel="nofollow" target="_blank">
                                <i class="icon-instagram"></i>
                                <span class="content-title">Instagram</span> 
                                <span class="content-info">Siga-nos</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCQWrIIYl2Q2bbshU_dUIlbA" title="Acessar nosso Youtube" class="flex youtube" itemprop="url"  rel="nofollow" target="_blank">
                                <i class="icon-youtube"></i>
                                <span class="content-title">Youtube</span>
                                <span class="content-info">Inscreva-se</span>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.bloggraodegente.com.br/" title="Acessar nosso Blog" class="flex blog" itemprop="url"  rel="nofollow" target="_blank">
                                <i class="icon-blog"></i>
                                <span class="content-title">Blog</span>
                                <span class="content-info">Acesse</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="footer-menu--item closed">
                    <div class="footer-menu--item-title">
                        <p>Formas de pagamento<i class="icon-plus">+</i></p>
                    </div>
                    <div class="footer-menu--item-content payments">
                        <ul class="payments--list flex">
                            <li class="payments--item">
                                <span class="hidden">MasterCard</span>
                                <i class="icon-mastercard"></i>
                            </li>
                            <li class="payments--item">
                                <span class="hidden">Visa</span>
                                <i class="icon-visa"></i>
                            </li>
                            <li class="payments--item">
                                <span class="hidden">American Express</span>
                                <i class="icon-american"></i>
                            </li>
                            <li class="payments--item">
                                <span class="hidden">Dinners</span>
                                <i class="icon-dinners"></i>
                            </li>
                            <li class="payments--item">
                                <span class="hidden">Elo</span>
                                <i class="icon-elo"></i>
                            </li>
                            <li class="payments--item">
                                <span class="hidden">Aura</span>
                                <i class="icon-aura"></i>
                            </li>
                            <li class="payments--item">
                                <span class="hidden">Hipercard</span>
                                <i class="icon-hipercard"></i>
                            </li>
                            <li class="payments--item">
                                <span class="hidden">Sorocred</span>
                                <i class="icon-sorocred"></i>
                            </li>
                        </ul>
                        <p>Em ATÉ 12x SEM JUROS</p>
                        <p class="boleto-discount">
                            <i class="icon-barcode-mini"></i>
                            Boleto Bancário com <span>10% DE DESCONTO</span>
                        </p>
                    </div>
                </li>
                <li class="footer-menu--item closed">
                    <div class="footer-menu--item-title">
                        <p>Segurança<i class="icon-plus">+</i></p>
                    </div>
                    <div class="footer-menu--item-content security">
                        <span class="hidden">C.O.M.O.D.O authentic site</span>
                        <i class="icon-ssl"></i>
                    </div>
                </li>
            </ul>
            <div class="footer-copyright">
                <strong>Grão de Gente - LGF Comércio Eletrônico LTDA</strong>
                <p>CNPJ: 26.384.531/0001-19 - Endereço: Rod mg 290 Km 73 - s/n Vargem da Forquilha - Jacutinga/MG - CEP: 37.590-000</p>
                <span class="platform">Plataforma: <a href="www.mktsystems.com" title="MKT Systems" rel="nofollow" target="_blank">MKT Systems</a></span>
            </div>
        </footer>
        <script src="{{ `js/jquery.lwtCountdown-1.0.js` | absURL}}"></script>
        <script src="{{ `js/jquery.validate.min.js` | absURL}}"></script>
        <script src="{{ `js/jquery.form.js` | absURL}}"></script>
        <script src="{{ `js/jquery.nav.js` | absURL}}"></script>

        {{ partialCached "content/modal/modal-free-shipping.html" . }}
        {{ partialCached "content/modal/modal-black-friday.html" . }}
        {{ partialCached "components/modal-script.html" . }}
    </body>
    <script type="application/ld+json">
        {
            "@@context": "https://schema.org",
            "@@type": "Organization",
            "name" : "{{ .Title }}",
            "url": "https://www.graodegente.com.br/",
            "logo": "https://www.graodegente.com.br/imgs/desktop/logos/graodegenteLogo.png",
            "contactPoint" : [{
                "@@type" : "ContactPoint",
                "telephone" : "+55 (11) 3522-8379",
                "contactType" : "customer service"
            }],
            "sameAs" : [
                "https://www.facebook.com/graodegente",
                "https://instagram.com/graodegente/",
                "https://open.spotify.com/user/u6kl0i4v5sqxn2f48odyhg3zq",
                "https://www.pinterest.com/graodegente/",
                "http://bloggraodegente.com.br/" 
            ]
        }
    </script>
    <script type="application/ld+json">
        {
            "@@context" : "http://schema.org",
            "@@type" : "WebSite",
            "name" : "Grão de Gente",
            "url" : "https://www.graodegente.com.br",
            "potentialAction" : [
                {
                    "@@type" : "SearchAction",
                    "target" : "https://www.graodegente.com.br/busca/{search_term_string}?utm_source=google&utm_medium=sitelinksearchbox&utm_campaign=sitelinksearchbox",
                    "query-input" : "required name=search_term_string"
                }
            ]
        }
    </script>
    <script>
        $(document).ready(function(){
            GraoDeGente.Newsletter.load();
            
            $(".footer-menu--item-title").on("click", function(){
                var field = $(this).parent();
    
                if ( field.hasClass("open") ) {
                    field.removeClass("open").addClass("closed")
                } else {
                    field.addClass("open").removeClass("closed")
                }
            });
        });
    </script>
</html>