<script>
    $(document).ready(function () {
        $('[data-modal]').click(function (a, b) {
            if (a.target.localName != "a" && a.target.attributes["data-modal"]) {
                var data_modal_value = a.target.attributes["data-modal"].value;

                console.log("clo--", data_modal_value)
                if (data_modal_value == "close") {
                    GraoDeGente.Components.Modal.close();
                }
                else {
                    GraoDeGente.Components.Modal.open(data_modal_value);
                }
            }
        });
    });

    var GraoDeGente = GraoDeGente || {};
    GraoDeGente.Components = GraoDeGente.Components || {};
    GraoDeGente.Components.Modal = (function () {    
        function open(data_modal_value){
            $('.modal[data-modal="' + data_modal_value + '"]')
            .addClass("modal-active");
            $("body").css("overflow", "hidden");
        }

        function close(){
            $('.modal[data-modal]').removeClass("modal-active");
            $("body").css("overflow", "auto");
        }

        return {
            open: open,
            close: close
        }
    })();
</script>