
<div tabindex="-1" role="dialog" class="modal modal-shipping" data-modal="free_shipping">
    <div class="modal-container modal-bg-close" data-modal="close">
        <div class="modal-body">
            <button data-modal="close" class="modal-close" data-dismiss="modal" aria-label="Close"><span class="icon-close" data-modal="close">×</span> <span class="hidden">fechar</span></button>
            
            <div class="modal-shipping__top">
                <p class="icon-truck2 black">
                    REGRAS DE <br>
                    <span class="semibold green">FRETE GRÁTIS*</span> <br>
                    <span class="semibold">PARA TODO BRASIL</span>
                </p>
            </div>
            <div class="modal-shipping__content">
                <p class="black">
                    <span class="title-content">
                        <span class="semibold green">VOCÊ TEM FRETE GRÁTIS</span> 
                        <span class="small">
                            Nas compras acima de <br>
                            R$ 199,00 para os Estados de:
                        </span>
                    </span>
                    <span class="semibold margin-area icon-pinmap">
                        São Paulo, Minas Gerais Paraná, <br>Rio de Janeiro, Santa Catarina e<br> Rio Grande do Sul
                    </span>
                    <span class="semibold">
                        <span class="green">Para os demais Estados,</span> <br>
                        nas compras acima de R$ 499,00                
                    </span>
                </p>
                <p class="rules-small black">* Esta regra não se aplica aos móveis e colchões.</p>
            </div>
        </div>
    </div>
</div>