<section class="product-page">
    {{ partial "benefits.html" }}

    <div class="header-alert container-flex">
        <p>Estamos Enviando Normalmente</p>
    </div>
    
    <div class="product--img__container" itemscope="" itemtype="https://schema.org/Product">
        <meta itemprop="url" content="{{ .product_url }}">
        <meta itemprop="name" content="{{ print .name }}">
        <meta itemprop="category" content="{{ range $cat :=.categories }}{{ $cat }} {{ end }}">
        <meta itemprop="isRelatedTo" content="{{ .isRelatedTo }}">
        <meta itemprop="mpn" content="{{ .id }}">
        <meta itemprop="sku" content="{{ .id }}">
        <meta itemprop="productID" content="{{ .id }}">
        
        
        <div class="slider-product">                                
            {{ range $index, $picture := .pictures_mobile }}
                <div>
                    <img src="{{ $picture }}" />
                </div>
            {{ end }}
        </div>
    </div>

    <a href="javascript:return" id="seeDescription" title="Ver descrição do produto" class="btn-description">Descrição</a>

    {{ if gt .productsline "" }} 
        <div class="product-line">
            <div class="product-line--title container-flex container-flex--sb">
                <h4 class="bold">produtos da coleção</h4>
                <a href="/{{ .category_url }}" target="_self" title="ver todos os produtos dessa coleção" class="bold">ver todos</a>
            </div>
            <div class="product-line--list" itemscope itemtype="http://schema.org/ItemList">
                <div class="container-flex">
                    {{ $lenght := len .productsline }}
                    {{ range $index, $product := .productsline}}
                        <div class="product-line--product" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            {{ if eq $lenght (add 1 $index) }}
                                <meta itemprop="numberOfItems" content="{{ $lenght }}">
                            {{ end }}
                            {{ partial "productbox2.html" $product }}
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    {{end}}
</section>

<script>
    $(document).ready(function() {
        $('.slider-product').slick({
            dots: true,
            infinite: false,
            arrows: false
        });
    });
</script>