<section class="product-page">
    
    <div class="product--img__container" itemscope="" itemtype="https://schema.org/Product">
        <meta itemprop="url" content="{{ .product_url }}">
        <meta itemprop="name" content="{{ print .name }}">
        <meta itemprop="category" content="{{ range $cat :=.categories }}{{ $cat }} {{ end }}">
        <meta itemprop="isRelatedTo" content="{{ .isRelatedTo }}">
        <meta itemprop="mpn" content="{{ .id }}">
        <meta itemprop="sku" content="{{ .id }}">
        <meta itemprop="productID" content="{{ .id }}">
        
        <div class="slider-product">                                
            {{ range $index, $picture := .pictures_mobile }}
                <div>
                    <img src="{{ $picture }}" />
                </div>
            {{ end }}
        </div>
    </div>

    <div class="product-line">
        <div class="product-line--title">
            <div>produtos da coleção</div>
            <a href="#" target="_self" title="">ver todos</a>
        </div>
        <div class="product-line--list">
            {{ range .productsline}}
                <div>
                    {{ .ref }}
                </div>
            {{ end }}
        </div>
    </div>

</section>

<script>
    $(document).ready(function() {
        $('.slider-product').slick({
            dots: true,
            infinite: false,
            arrows: false
        });
    });
</script>