
@font-face {
    font-family: 'graodegente';
    font-display: block;
    src: local('graodegente'), 
         url('#{$font_path}/iconsMobile/graodegente.woff') format('woff'),
         url('#{$font_path}/iconsMobile/graodegente.eot'),
         url('#{$font_path}/iconsMobile/graodegente.eot?#iefix') format('embedded-opentype'),
         url('#{$font_path}/iconsMobile/graodegente.ttf') format('truetype'),
         url('#{$font_path}/iconsMobile/graodegente.svg#graodegente') format('svg');
    font-display: auto;
    font-weight: normal;
    font-style: normal;
}

[class*='icon-']:before{
	display: inline-block;
   font-family: 'graodegente';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.icon-alert:before{content:'\0041';}
.icon-stamp-cotton:before{content:'\0042';}
.icon-barcode:before{content:'\0043';}
.icon-barcode-mini:before{content:'\0044';}
.icon-card:before{content:'\0045';}
.icon-cart-empty:before{content:'\0046';}
.icon-cart-full:before{content:'\0047';}
.icon-chat:before{content:'\0048';}
.icon-check-list:before{content:'\0049';}
.icon-check-list-filtered:before{content:'\004a';}
.icon-close-x:before {content: '\004b';}
.icon-document:before{content:'\004c';}
.icon-exit:before{content:'\004d';}
.icon-finder:before{content:'\004e';}
.icon-gift:before{content:'\004f';}
.icon-heart:before{content:'\0050';}
.icon-heart-empty:before{content:'\0063';}
.icon-video-play:before{content:'\0051';}
.icon-truck:before{content:'\0052';}
.icon-truck2:before{content:'\0064';}
.icon-list:before{content:'\0053';}
.icon-logo:before{content:'\0054';}
.icon-pinmap:before{content:'\0055';}
.icon-arrow2-down:before{content:'\0056';}
.icon-phone:before{content:'\0057';}
.icon-mail:before{content:'\0058';}
.icon-user-login:before{content:'\0059';}
.icon-home:before{content:'\005a';}
.icon-dois-cartoes:before{content:'\0061';}
.icon-arrow-left-big:before{content:'\0062';}
.icon-ray:before {content: '\0065';}
.icon-whatsapp:before {content: '\0066';}

.icon-user-logado {
    background-repeat: no-repeat;
    background-image: url("/imgs/ico/icon-user-logado.svg");
}

.icon-pedido-vazio {
    width: 67px;
    height: 61px;
    background-image: url("/imgs/ico/icon-pedidos-vazio.svg");
}

.icon-2-pagtos {
    height: 60px;
    background-image: url("/imgs/ico/icon-duas-formas.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 60px;
}

.icon-close {
    background-repeat: no-repeat;
    background-image: url("/imgs/ico/icon-close.svg");
    width: 30px;
    height: 31px;
    display: block;
}

.icon-facebook, .icon-instagram, .icon-youtube, .icon-blog {
    background-image: url("/images/icone-rodape.png");
    display: inline-block;
    height: 26px;
    width: 26px;
}

.icon-facebook {
    background-position: -2px -1px;
}

.icon-instagram {
    background-position: -7px -28px;
}

.icon-youtube {
    background-position: -7px -55px;
}

.icon-blog {
    background-position: -71px -98px;
}

.icon-menu {
    width: 15px;

    span {
        background-color: #727272;
        margin-bottom: 4px;
        display: block;
        height: 3px;
        width: 22px;
    }
}

[class^="icon-arrow-"]:not([class*="full"]) {
    &:before {
        border-right: 2px solid #555;
        border-top: 2px solid #555;
        content: "";
        height: 8px;
        width: 8px;
    }

    &[class*="up"]:before {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    &[class*="down"]:before {
        -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    &[class*="right"]:before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    &[class*="left"]:before {
        -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }
}

.icon-mastercard, .icon-visa, .icon-american, .icon-dinners, .icon-elo, .icon-aura, .icon-hipercard, .icon-sorocred, .icon-ssl {
    background-image: url("/images/icone-rodape.png");
    display: inline-block;
}

.icon-mastercard {
    background-position: -3px -82px;
    height: 24px;
    width: 37px;
}

.icon-visa {
    background-position: -28px 0;
    height: 18px;
    width: 52px;
}

.icon-american {
    background-position: 32px 34px;
    height: 32px;
    width: 32px;
}

.icon-dinners {
    background-position: -40px 29px;
    height: 25px;
    width: 31px;
}

.icon-elo {
    background-position: 0 21px;
    height: 22px;
    width: 40px;
}

.icon-aura {
    background-position: -35px -17px;
    height: 31px;
    width: 45px;
}

.icon-hipercard {
    background-position: -34px -47px;
    height: 24px;
    width: 51px;
}

.icon-sorocred {
    background-position: 65px 34px;
    height: 33px;
    width: 33px;
}

.icon-ssl {
    background-position: 77px 80px;
    height: 47px;
    margin: auto;
    width: 77px;
}