/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, form,
dl, dt, dd, ol, ul, li,
fieldset, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input, button, summary, select {
    outline: none;
    border: none;
    -webkit-appearance: none;
    border-radius: 0;
}

textarea {
    outline: none;
    border: none;
}

body {
    display: block;
    max-width: 500px;
    min-width: 280px;
    width: 100%;
    margin: auto;
    font-family: $family-regular;
    font-size: 14px;
}

ul, ol {
    padding: 0;

    li {
        display: block
    }
}

img {
    display: block;
    max-width: 100%;
}

[data-lazy], [lz-src] {
    color: transparent;
    animation-duration: 1.1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 40%, #eeeeee 20%);
    background-size: 800px 104px;
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }

    100% {
        background-position: 468px 0
    }
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #f9fbfd inset !important;
    -webkit-text-fill-color: #666666 !important;
}

strong, h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

b {
    font-family: $family-bold;
}

a, a:hover, a:active, a:visited, a:link, a:focus {
    color: #666666;
    text-decoration: none;
    outline: none;
}

.lz-src {
    min-width: 100%;
    min-height: 100px;       
}

/// forms
button, input, optgroup, select, textarea {
    border: none
}
