/////////////////////////////////////////////////////
// Cores
/////////////////////////////////////////////////////

$dark-green:        #00AA9F;
$green:             #00bfb3;
$light-green:       #66d9d1;
$light-green2:      #e5f9f8;
$beige:             #f8f7f5;

$orange:            #e47004;

$dark-gray:         #555555;
$light-gray:        #e0e0e0;
$gray:              #d2d2d2;
$gray2:             #cccccc;
$grayf1:            #f1f1f1;
$gray9:             #999;
$gray6:             #666;

$gray-btn:          #F8F7F5;

$red-alert:         #f7432c;
$pink:              #d01b46;

$red:               #D01B46;

$white:             #FFFFFF;

/////////////////////////////////////////////////////
// Fonts
/////////////////////////////////////////////////////
$font_path: "/fonts";
$img_path: "/imgs/";

$body-container-width: 500px;

$warning: #FA6A35;
$warning-dark: #AD3C13;

/////////////////////////////////////////////////////
// Font Family
/////////////////////////////////////////////////////
$family-regular: "montserratRegular";
$family-black: "montserratBold";
$family-semibold: "montserratSemiBold";
$family-bold: "montserratBold";
$family-medium: "montserratSemiBold";
$family-light: "montserratLight";