%btn {
    -webkit-transition: 300ms all;
    background-color: transparent;
    -o-transition: 300ms all;
    box-sizing: border-box;
    transition: 300ms all;
    cursor: pointer;
    width: auto;
    position: relative;
    display: table;
    padding: 15px;
    margin: 0 auto 10px;
    font-family: $family-bold;
    line-height: 100%;
    font-size: 16px;
    text-align: center;
    color: $font-color;
    text-decoration: none;
}

%icon {
    [class^="icon-"] {
        position: absolute;
        display: block;
        line-height: 1;
        top: 0;
        bottom: 0;
        margin: auto;
        font-size: 20px;
    }
}

.btn {
    @extend %btn;
    @extend %icon;

    &:hover {
        background-color: $beige;
    }

    &--small {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    &--full {
        display: block;
        width: 100%;
    }

    &--arrow-right, &--arrow-left {
        &:before {
            border-right: 2px solid transparent;
            border-top: 2px solid transparent;
            position: absolute;
            margin: auto;
            content: "";
            height: 8px;
            width: 8px;
            bottom: 0;
            top: 0;
        }
    }

    &--arrow-right {
        padding-right: 30px;

        &:before {
            -webkit-transform: rotate(45deg);
            border-right-color: $font-color;
            border-top-color: $font-color;
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            right: 13px;
        }
    }

    &--arrow-left {
        padding-left: 30px;

        &:before {
            -webkit-transform: rotate(-135deg);
            border-right-color: $font-color;
            -ms-transform: rotate(-135deg);
            border-top-color: $font-color;
            transform: rotate(-135deg);
            left: 13px;
        }
    }

    &--icon-left, &--icon-right {
        [class^=icon] {
            width: 26px;
            height: 26px;
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            font-size: 24px;
        }
    }

    &--icon-left {
        padding-left: 50px;

        [class^=icon] {
            left: 10px
        }
    }

    &--icon-right {
        padding-right: 50px;

        [class^=icon] {
            right: 10px
        }
    }

    &--default {
        background-color: $btn-default;
        border: solid 1px $btn-default-border;
        color: $btn-default-color;
        @extend %btn;
        @extend %icon;

        &:hover {
            background-color: $btn-default-hover;
            color: $btn-default-hover-color;

            &.btn--arrow-right:before {
                border-right-color: $btn-default-hover-color;
                border-top-color: $btn-default-hover-color;
            }

            &.btn--arrow-left:before {
                border-right-color: $btn-default-hover-color;
                border-top-color: $btn-default-hover-color;
            }
        }
    }

    &--primary {
        @extend %btn;
        color: $btn-primary-color !important;
        background-color: $btn-primary;
        border: solid 1px $btn-primary-border;

        @extend %icon;

        &:hover {
            background-color: $btn-primary-hover;
            border-color: $btn-primary-hover;
            color: $btn-primary-hover-color;
        }

        &.btn--arrow-right:before {
            border-right-color: $btn-primary-color;
            border-top-color: $btn-primary-color;
        }

        &.btn--arrow-left:before {
            border-right-color: $btn-primary-color;
            border-top-color: $btn-primary-color;
        }
    }

    &--secondary {
        @extend %btn;
        border: solid 1px $font-color;
        background-color: #fff;
        color: $font-color;

        @extend %icon;

        &:hover {
            background-color: $font-color;
            border-color: $font-color;
            color: #fff;

            &.btn--arrow-right:before {
                border-right-color: #FFF;
                border-top-color: #FFF;
            }
    
            &.btn--arrow-left:before {
                border-right-color: #FFF;
                border-top-color: #FFF;
            }
        }

        &.btn--arrow-right:before {
            border-right-color: $font-color;
            border-top-color: $font-color;
        }

        &.btn--arrow-left:before {
            border-right-color: $font-color;
            border-top-color: $font-color;
        }
    }

    &--danger {
        @extend %btn;
        color: $btn-danger-color !important;
        background-color: $btn-danger;
        border: solid 1px $btn-danger-border;

        @extend %icon;

        &:hover {
            background-color: $btn-danger-hover;
            border-color: $btn-danger-hover;
            color: $btn-danger-hover-color;
        }

        &.btn--arrow-right:before {
            border-right-color: $btn-danger-color;
            border-top-color: $btn-danger-color;
        }

        &.btn--arrow-left:before {
            border-right-color: $btn-danger-color;
            border-top-color: $btn-danger-color;
        }
    }

    &--face {
        @extend %btn;
        color: $btn-face-color !important;
        background-color: $btn-face;
        border: solid 1px $btn-face-border;

        @extend %icon;

        &:hover {
            background-color: $btn-face-hover;
            border-color: $btn-face-hover;
            color: $btn-face-hover-color;
        }

        &.btn--arrow-right:before {
            border-right-color: $btn-face-color;
            border-top-color: $btn-face-color;
        }

        &.btn--arrow-left:before {
            border-right-color: $btn-face-color;
            border-top-color: $btn-face-color;
        }
    }

    &--buy-desk {
        font-size: 20px;

        @media screen and (min-width: $width-grid-desktop) {
            padding: 14px 20px 14px 70px;
            text-transform: uppercase;
            background-color: $pink;
            transition: 0.3s all;
            border-color: $pink;

            &:hover {
                background-color: darken($pink, 10);
                border-color: darken($pink, 10);
            }

            [class*="icon"] {
                right: inherit;
                height: calc(100% + 2px);
                width: 47px;
                padding: 10px;
                left: -1px;
                background: #fff;
                border: solid 1px $gray;
                border-right: none;
                color: $pink;
            }
        }
    }
}