//////////////////////////////////////////
/// FORMULARIO
//////////////////////////////////////////

// Fix to disable ios auto zoom
@media screen and (-webkit-min-device-pixel-ratio:0) and (max-device-width:$width-grid-desktop) {
    //max-device-width:1024px
    select,
    textarea,
    input {
        font-size: 16px !important;
    }

    input::-webkit-input-placeholder {
        font-size: 13px !important;
    }
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: #ffffff !important;
    box-shadow: 0 0 0 30px #ffffff inset;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 0 0px 1000px $beige inset !important;
    -webkit-text-fill-color: #666666 !important;
}

input,
textarea,
select {
    width: 100%;
    background-color: #fff;
    font-family: $family-regular;
    min-height: 36px;
    vertical-align: middle;

    &::placeholder {
        font-family: $family-bold;
        letter-spacing: 0.5px;
        color: $font-color;
    }
}

input,
textarea,
select {
    width: 100%;
    border: solid 1px $gray2;
    min-height: 45px;
    padding: 7px 5px;
    line-height: 100%;
}

label {
    color: $font-color;
    font-size: 16px;
}

.label-box {
    width: 100%;
    margin-bottom: 15px;
}

select {
    padding: 7px 30px 4px 3px;
    z-index: 1;
    background-color: transparent;

    &:after {
        -webkit-transform: rotate(44deg);
        border-bottom: 3px solid $green;
        border-right: 3px solid $green;
        -ms-transform: rotate(44deg);
        transform: rotate(44deg);
        position: absolute;
        height: 12px;
        content: "";
        width: 12px;
        z-index: 0;
        right: 8px;
        top: 20px;
    }
}

.error,
.onFailure,
.success {
    padding: 5px 10px;
    text-align: left;
    font-size: 12px;
}

.error,
.onFailure {
    /*background-color: lighten( $danger, 45% );*/
    &, * {
        color: $danger !important;
    }
}

.success {
    /*background-color: lighten( $success, 55% );*/
    &, * {
        color: $success !important;
    }
}

[class*="box-row-"] {
    justify-content: space-between;
    -webkit-box-pack: justify;
    -webkit-box-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    -ms-flex-align: start;
    display: -webkit-box;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: flex;

    & > * {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
        flex: 1 0 100%;

        &:first-child {
            margin-left: 0 !important;
        }

        &:last-child {
            margin-right: 0 !important;
        }
    }
}

[class*="box-input"]:not([class*="newsletter"]) {
    margin: 0 0 20px;

    label {
        text-transform: uppercase;
        font-family: $family-bold;
        padding: 0 0 5px 10px;
        min-height: initial;
        color: $font-color;
        font-size: 13px;
        display: block;

        span {
            font-family: $family-regular;
            text-transform: lowercase;
            font-size: 12px;
            color: $gray;
        }
    }

    input, select, textarea {
        border-color: #BDBDBD;
        min-height: 45px;
        margin: 0;
    }

    &[class*="birthdate"] {
        display: block;

        .box-row {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

            & > * {
                -webkit-box-flex: 3;
                -ms-flex: 3 0 25%;
                flex: 3 0 25%;

                &:nth-child(2) {
                    -webkit-box-flex: 3;
                    -ms-flex: 3 0 40%;
                    flex: 3 0 40%;
                }

                &:not(:first-child):not(:last-child) {
                    margin: 0 5px;
                }
            }
        }
    }

    &[class*="emailPassword"] {
        justify-content: space-between;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        display: -webkit-box;
        display: -ms-flexbox;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        display: flex;
        margin: 0;

        & > * {
            -webkit-box-flex: 2;
            -ms-flex: 2 0 100%;
            margin: 0 0 20px;
            flex: 2 0 100%;
        }
    }

    &.password {
        margin: 0;
    }

    .showBox {
        position: relative;

        .action {
            -webkit-transition: 0.3s all;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -webkit-box-align: center;
            text-transform: uppercase;
            font-family: $family-bold;
            -khtml-user-select: none;
            -o-transition: 0.3s all;
            -moz-user-select: none;
            -ms-flex-align: center;
            -ms-user-select: none;
            transition: 0.3s all;
            display: -webkit-box;
            display: -ms-flexbox;
            align-items: center;
            position: absolute;
            user-select: none;
            font-size: 12px;
            cursor: pointer;
            display: flex;
            color: $green;
            height: auto;
            margin: auto;
            right: 10px;
            bottom: 0;
            top: 0;

            &:hover {
                color: darken($green, 10%);
            }
        }
    }

    [id*="OnlyView"] {
        background-color: #f5f5f5;
        padding: 7px 70px 7px 5px;
        border: solid 1px #d2d2d2;
        line-height: 30px;
        max-height: 45px;
        min-height: 45px;
        cursor: no-drop;
        display: block;
        width: 100%;
    }

    .label-radio {
        line-height: 20px;
        margin: 0 0 10px;
        padding: 0;

        input[type="radio"] {
            min-height: initial;
            position: absolute;
            display: block;
            height: auto;
            width: auto;
            opacity: 0;
        }

        .radio {
            background-image: linear-gradient(transparent, transparent);
            background-color: transparent;
            transition: all .15s ease;
            border: 1px solid #e6e6e6;
            border-radius: 10px;
            position: relative;
            margin-right: 8px;
            cursor: pointer;
            display: block;
            height: 18px;
            float: left;
            width: 18px;

            &:after {
                transform: scale(0);
                position: absolute;
                border-radius: 50%;
                background: #FFF;
                display: block;
                content: "";
                height: 6px;
                opacity: 0;
                width: 6px;
                left: 5px;
                top: 5px;
            }
        }

        .label {
            text-transform: initial;
            color: $font-color;
            font-size: 14px;
        }

        input[type="radio"]:checked + .radio {
            background-image: linear-gradient($green, $green);
            border-color: $green;

            &:after {
                transition: all .15s ease;
                transform: scale(1);
                opacity: 1;
            }
        }
    }

    .validation {
        display: block;
        width: 100%;
    }

    &.hasError {
        *, *::before, *::after, *::placeholder {
            border-color: $danger !important;
            color: $danger !important;
        }
    }

    .error {
        display: block;
    }
}

.select-arrow {
    position: relative;

    &::before {
        -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        border-right: 2px solid #999;
        border-top: 2px solid #999;
        transform: rotate(135deg);
        position: absolute;
        display: block;
        margin: auto;
        z-index: -1;
        content: "";
        height: 8px;
        right: 10px;
        width: 8px;
        bottom: 0;
        top: -2px;
    }

    select {
        padding: 7px 30px 4px 5px;
    }
}

.separator {
    border-bottom: 1px solid #D8D8D8;
    position: relative;
    margin: 50px 0;

    span {
        text-transform: uppercase;
        font-family: $family-bold;
        background-color: #FFF;
        text-align: center;
        position: absolute;
        color: $font-color;
        font-size: 16px;
        padding: 0 30px;
        margin: auto;
        width: 85px;
        top: -9px;
        right: 0;
        left: 0;
    }
}

#success-section {
    font-family: $family-bold;
    padding: 5px 0 85px;
    text-align: center;
    position: relative;
    min-height: 250px;
    font-size: 18px;
    color: #555;

    h1 {
        font-family: $family-light;
        text-transform: uppercase;
        margin: 60px 0 40px;
        text-align: center;
        font-size: 36px;
        display: none;
        width: 100%;
    }

    img {
        margin: 20px auto;
    }

    .btn {
        margin: 20px auto;
        width: 100%;
    }
}

.page-title {
    font-family: $family-light;
    text-transform: uppercase;
    margin: 60px 0 40px;
    text-align: center;
    font-size: 36px;
    display: block;
    width: 100%;

    &--secondary {
        font-family: $family-bold;
        margin-bottom: 20px;
        padding-top: 40px;
        font-weight: 600;
        text-align: left;
        font-size: 18px;
        color: $green;

        &:first-child {
            padding-top: 0;
        }
    }
}

@media screen and ( min-width:$width-limite-mobile ) {
    [class*="box-input"]:not([class*="newsletter"]) {
        &[class*="emailPassword"] {
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            margin: 0 0 20px;

            & > * {
                margin: 0 1% 0;

                &:first-child {
                    -webkit-box-flex: 2;
                    -ms-flex: 2 0 50%;
                    margin-left: 0;
                    flex: 2 0 50%;
                }

                &:last-child {
                    -webkit-box-flex: 2;
                    -ms-flex: 2 0 30%;
                    margin-right: 0;
                    flex: 2 0 30%;
                }
            }
        }
    }

    [class*="box-row-"] {
        &[class*="2"] {
            & > * {
                -webkit-box-flex: 2;
                -ms-flex: 2 0 49%;
                margin: 0 0 20px;
                flex: 2 0 49%;

                &:first-child {
                    margin-right: 5px;
                }
            }
        }
    }

    #success-section {
        background-color: transparent;

        h1 {
            display: block;
        }

        .middle {
            max-width: 230px;
            margin: 0 auto;
        }

        .btn {
            margin: 20px auto;
            max-width: 350px;
        }
    }
}
