[class*="sprite-"] {
  background-image: url($img-path + '/spritesheet.png');
  background-repeat: no-repeat;
  display: block;
}

.sprite-visa-mini {
  background-position: -209px -172px;
  height: 31px;
  width: 44px;
}

.sprite-mastercard-mini {
  background-position: -94px -172px;
  height: 31px;
  width: 44px;
}

.sprite-american-express-mini {
  background-position: -161px -1px;
  height: 31px;
  width: 44px;
}

.sprite-diners-mini {
  background-position: -1px -81px;
  height: 31px;
  width: 44px;
}

.sprite-hipercard-mini {
  background-position: -242px -90px;
  height: 31px;
  width: 44px;
}

.sprite-elo-mini {
  background-position: -47px -81px;
  height: 31px;
  width: 44px;
}

.sprite-aura-mini {
  background-position: -1px -34px;
  height: 31px;
  width: 44px;
}

.sprite-sorocred-mini {
  background-position: -140px -172px;
  height: 31px;
  width: 44px;
}


.sprite-2-formas-de-pagamento-mini {
  background-position: -1px -1px;
  height: 31px;
  width: 44px;
}

.sprite-boleto-mini {
  background-position: -134px -34px;
  height: 31px;
  width: 44px;
}

.sprite-positive-ssl {
  background-position: -47px -1px;
  height: 51px;
  width: 85px;
}

.sprite-callcenter {
  background-position: -104px -67px;
  height: 94px;
  width: 94px;
}

.sprite-security {
  background-position: -247px -1px;
  height: 87px;
  width: 117px;
}

.sprite-pinkLock {
  background-position: -210px -25px;
  height: 27px;
  width: 27px;
}

.sprite-facebook {
  background-position: -1px -131px;
  height: 39px;
  width: 40px;
}

.sprite-instagram {
  background-position: -239px -131px;
  height: 39px;
  width: 40px;
}

.sprite-blog {
  background-position: -288px -90px;
  height: 39px;
  width: 40px;
}

.sprite-pinterest {
  background-position: -281px -131px;
  height: 39px;
  width: 40px;
}

.sprite-spotify {
  background-position: -43px -131px;
  height: 40px;
  width: 40px;
}