[class*="sprite-"] {
  background-image: url($img-path + '/sprites/spritesheet.png');
  background-repeat: no-repeat;
  display: block;
}

.sprite-visa-mini {
  background-position: -209px -172px;
  height: 31px;
  width: 44px;
}

.sprite-mastercard-mini {
  background-position: -94px -172px;
  height: 31px;
  width: 44px;
}

.sprite-american-express-mini {
  background-position: -161px -1px;
  height: 31px;
  width: 44px;
}

.sprite-diners-mini {
  background-position: -1px -81px;
  height: 31px;
  width: 44px;
}

.sprite-hipercard-mini {
  background-position: -242px -90px;
  height: 31px;
  width: 44px;
}

.sprite-elo-mini {
  background-position: -47px -81px;
  height: 31px;
  width: 44px;
}

.sprite-aura-mini {
  background-position: -1px -34px;
  height: 31px;
  width: 44px;
}

.sprite-sorocred-mini {
  background-position: -140px -172px;
  height: 31px;
  width: 44px;
}


.sprite-2-formas-de-pagamento-mini {
  background-position: -1px -1px;
  height: 31px;
  width: 44px;
}

.sprite-boleto-mini {
  background-position: -134px -34px;
  height: 31px;
  width: 44px;
}

.sprite-positive-ssl {
  background-position: -47px -1px;
  height: 51px;
  width: 85px;
}

.sprite-frete-cinza {
  background-image: url($img-path + '/cart_shipping_benefit.png');
  background-repeat: no-repeat;
  width: 22px;
  height: 14px;
  margin-right: 10px;
  margin-top: 5px;
}

.sprite-calendar {
  background-image: url($img-path + '/calendar.png');
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  margin-right: 5px;
}

.sprite-cartao-cinza-min {
  background-image: url($img-path + '/card_benefit.png');
  background-repeat: no-repeat;
  width: 20px;
  height: 13px;
  margin-right: 10px;
  margin-top: 5px;
}

@media screen and (max-device-width:320px) {
  .sprite-frete-cinza {
      margin-right: 4px;
  }
}