{{ partial "header.html" . }}

<div class="home">
    <div class="banner mb-30">
        <div class="banner__top">
            <figure itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject">
                <meta itemprop="caption" content="Grão de Gente">
                <meta itemprop="representativeOfPage" content="true">
                    <link itemprop="url" href="https://www.graodegente.com.br/ofertas/todo-o-site-com-desconto">
                    <a href="https://www.graodegente.com.br/ofertas/todo-o-site-com-desconto" title="Grão de Gente">
                        <img alt="Grão de Gente" title="Grão de Gente" src="https://dmhxz00kguanp.cloudfront.net/banners/home/25972banner-categoria-alltype_decor-monday.jpg" itemprop="thumbnail">
                    </a>
            </figure>
        </div>

        <div class="slider" itemscope itemtype="http://schema.org/ImageGallery">
            <div itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="slider__item">
                <a href="https://www.graodegente.com.br/ofertas/todo-o-site-com-desconto" itemprop="contentUrl"> 
                    <meta itemprop="thumbnail" content="https://dmhxz00kguanp.cloudfront.net/banners/home/26098fullbanner-mobile_24H-DE-OFERTASat.jpg">
                    <img class="" src="https://dmhxz00kguanp.cloudfront.net/banners/home/26098fullbanner-mobile_24H-DE-OFERTASat.jpg" style="opacity: 1;">
                    <div id="divTimer-26098" class="banner-contador mobile">
                        <span class="tituloTimer">ESTA PROMOÇÃO TERMINA EM:</span>
                        <timer class="timer">
                            <span id="timer-26098">9h8m33s56</span>
                        </timer>
                    </div>
                </a>
            </div>
            <div itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="slider__item">
                <a href="https://www.graodegente.com.br/kit-berco/economicos-1" itemprop="contentUrl"> 
                    <meta itemprop="thumbnail" content="https://dmhxz00kguanp.cloudfront.net/banners/home/26059fullbanner-mobo-kit-berco-estampado.jpg">
                    <img class="" src="https://dmhxz00kguanp.cloudfront.net/banners/home/26059fullbanner-mobo-kit-berco-estampado.jpg" style="opacity: 1;">
                </a>
            </div>
        </div>
    </div>

    {{ partial "components/benefits.html" }}

    <div class="alerta-envio-topo">
        {{/*}}<vc:dynamic-banner position="8" height="0" width="0" local="1" slug=" " has-timer="false" is-lazy="false"></vc:dynamic-banner> {{*/}}
    </div>

    <h2 class="h2 center">
        <a href="/lancamentos" title="Veja os novos Lançamentos">Lançamentos</a>
    </h2>

    <ul class="mb-30" style="min-height: 385px;">
        <li class="inline-block mt-10 mb-20">
            <figure itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject">
                <meta itemprop="caption" content="Grão de Gente">
                <meta itemprop="representativeOfPage" content="true">
                    <link itemprop="url" href="https://www.graodegente.com.br/safari-aquarela-montessoriano-cama-de-solteiro/_order_sku-152570-146044-146045-151407-146047">
                    <a href="https://www.graodegente.com.br/safari-aquarela-montessoriano-cama-de-solteiro/_order_sku-152570-146044-146045-151407-146047" title="Grão de Gente">
                        <img alt="Grão de Gente" title="Grão de Gente" src="https://dmhxz00kguanp.cloudfront.net/banners/home/26104banner_lancamentos_home_mobo.jpg" itemprop="thumbnail">
                    </a>
            </figure>
        </li>
        <li class="inline-block mt-10 mb-20">
            <figure itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject">
                <meta itemprop="caption" content="Grão de Gente">
                <meta itemprop="representativeOfPage" content="true">
                    <link itemprop="url" href="https://www.graodegente.com.br/amor-da-mamae-rosa/_order_sku-150702-150899-150705-150704-151243-150703">
                    <a href="https://www.graodegente.com.br/amor-da-mamae-rosa/_order_sku-150702-150899-150705-150704-151243-150703" title="Grão de Gente">
                        <img alt="Grão de Gente" title="Grão de Gente" src="https://dmhxz00kguanp.cloudfront.net/banners/home/25871banner_lancamentos_home_mobo1.jpg" itemprop="thumbnail">
                    </a>
            </figure>
        </li>
    </ul>

    <h1 class="h3 center">
        TUDO PARA VOCÊ MONTAR <br>
        <b>O QUARTO DOS SEUS SONHOS</b>
    </h1>
    <div itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject">
        <link itemprop="url" href="https://www.graodegente.com.br/kit-berco">
        <a href="/home/kit-berco" title="Kit berço" class="home__banner-full mt-10">
            <meta itemprop="caption" content="Kit berço">
            <meta itemprop="thumbnail" content="//dmhxz00kguanp.cloudfront.net/home/mobile/novo-kit-berco.jpg">
            <img class="lz-src" src="https://dmhxz00kguanp.cloudfront.net/home/mobile/novo-kit-berco.jpg" data-lz-src="//dmhxz00kguanp.cloudfront.net/home/mobile/novo-kit-berco.jpg" alt="Kit berço" title="Kit berço" style="min-height: 80px">
            <div class="box box--big black">
                <span>Kits</span>
                <b class="dark-gray">Berço</b>
            </div>
        </a>
    </div>

    <ul class="flex flex--justify-sb gutter mb-20 mt-40 center">
        <li itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" class="col-4">
            <link itemprop="url" href="https://www.graodegente.com.br/bolsa-maternidade">
            <a href="/bolsa-maternidade" title="Bolsas Maternidade">
                <meta itemprop="caption" content="Bolsas Maternidade">
                <meta itemprop="thumbnail" content="//dmhxz00kguanp.cloudfront.net/home/mobile/novo-bolsas-maternidade.jpg">
                <img class="lz-src" src="https://dmhxz00kguanp.cloudfront.net/home/mobile/novo-bolsas-maternidade.jpg" data-lz-src="//dmhxz00kguanp.cloudfront.net/home/mobile/novo-bolsas-maternidade.jpg" alt="Bolsas Maternidade" title="Bolsas Maternidade">
                <strong class="uppercase h6 semibold block mt-10 mb-20">
                    Bolsas
                    <br>Maternidade
                </strong>
            </a>
        </li>
        <li itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" class="col-4">
            <link itemprop="url" href="https://www.graodegente.com.br/saida-maternidade-grao-de-gente/_order_sku-144162-150443-144133-127804-127807-127818-127810-148491-148446">
            <a href="/saida-maternidade-grao-de-gente/_order_sku-144162-150443-144133-127804-127807-127818-127810-148491-148446" title="Saídas Maternidade">
                <meta itemprop="caption" content="Saídas Maternidade">
                <meta itemprop="thumbnail" content="//dmhxz00kguanp.cloudfront.net/home/mobile/novo-saida-maternidade.jpg">
                <img class="lz-src" src="https://dmhxz00kguanp.cloudfront.net/home/mobile/novo-saida-maternidade.jpg" data-lz-src="//dmhxz00kguanp.cloudfront.net/home/mobile/novo-saida-maternidade.jpg" alt="Saídas Maternidade" title="Saídas Maternidade">
                <strong class="uppercase h6 semibold block mt-10 mb-20">
                    Saídas <br>
                    Maternidade
                </strong>
            </a>
        </li>
        <li itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" class="col-4">
            <link itemprop="url" href="https://www.graodegente.com.br/ofertas/ninho-redutor-de-berco">
            <a href="/ofertas/ninho-redutor-de-berco" title="Ninho para Bebê">
                <meta itemprop="caption" content="Ninho para Bebê">
                <meta itemprop="thumbnail" content="//dmhxz00kguanp.cloudfront.net/home/mobile/novo-ninhos.jpg">
                <img class="lz-src" src="https://dmhxz00kguanp.cloudfront.net/home/mobile/novo-ninhos.jpg" data-lz-src="//dmhxz00kguanp.cloudfront.net/home/mobile/novo-ninhos.jpg" alt="Ninho para Bebê" title="Ninho para Bebê">
                <strong class="uppercase h6 semibold block mt-10 mb-20">
                    Ninhos
                </strong>
            </a>
        </li>
        <li itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" class="col-4">
            <link itemprop="url" href="https://www.graodegente.com.br/cortina-quarto-de-bebe-1">
            <a href="/cortina-quarto-de-bebe-1" title="Cortinas">
                <meta itemprop="caption" content="Cortinas">
                <meta itemprop="thumbnail" content="//dmhxz00kguanp.cloudfront.net/home/mobile/novo-cortinas.jpg">
                <img class="lz-src" src="https://dmhxz00kguanp.cloudfront.net/home/mobile/novo-cortinas.jpg" data-lz-src="//dmhxz00kguanp.cloudfront.net/home/mobile/novo-cortinas.jpg" alt="Cortinas" title="Cortinas">
                <strong class="uppercase h6 semibold block mt-10 mb-20">
                    Cortinas <br><br>
                </strong>
            </a>
        </li>
        <li itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" class="col-4">
            <link itemprop="url" href="https://www.graodegente.com.br/almofada-amamentacao-1">
            <a href="/almofada-amamentacao-1" title="Almofadas Amamentação">
                <meta itemprop="caption" content="Almofadas Amamentação">
                <meta itemprop="thumbnail" content="//dmhxz00kguanp.cloudfront.net/home/mobile/novo-almofada-amamentacao.jpg">
                <img class="lz-src" src="https://dmhxz00kguanp.cloudfront.net/home/mobile/novo-almofada-amamentacao.jpg" data-lz-src="//dmhxz00kguanp.cloudfront.net/home/mobile/novo-almofada-amamentacao.jpg" alt="Almofadas Amamentação" title="Almofadas Amamentação">
                <strong class="uppercase h6 semibold block mt-10 mb-20">
                    Almofadas
                    <br>Amamentação
                </strong>
            </a>
        </li>
        <li itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" class="col-4">
            <link itemprop="url" href="https://www.graodegente.com.br/kit-higiene-quarto-de-bebe">
            <a href="/kit-higiene-quarto-de-bebe" title="Kits Higiene">
                <meta itemprop="caption" content="Kit Higiene">
                <meta itemprop="thumbnail" content="//dmhxz00kguanp.cloudfront.net/home/mobile/novo-kit-higiene.jpg">
                <img class="lz-src" src="https://dmhxz00kguanp.cloudfront.net/home/mobile/novo-kit-higiene.jpg" data-lz-src="//dmhxz00kguanp.cloudfront.net/home/mobile/novo-kit-higiene.jpg" alt="Kits Higiene" title="Kits Higiene">
                <strong class="uppercase h6 semibold block mt-10 mb-20">
                    Kits
                    <br>Higiene
                </strong>
            </a>
        </li>
        <li itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" class="col-4">
            <link itemprop="url" href="https://www.graodegente.com.br/trocador-3">
            <a href="/trocador-3" title="Trocador de Fralda">
                <meta itemprop="caption" content="Trocador de Fralda">
                <meta itemprop="thumbnail" content="//dmhxz00kguanp.cloudfront.net/home/mobile/novo-trocadores.jpg">
                <img class="lz-src" src="https://dmhxz00kguanp.cloudfront.net/home/mobile/novo-trocadores.jpg" data-lz-src="//dmhxz00kguanp.cloudfront.net/home/mobile/novo-trocadores.jpg" alt="Trocador de Fralda" title="Trocador de Fralda">
                <strong class="uppercase h6 semibold block mt-10 mb-20">
                    Trocadores
                </strong>
            </a>
        </li>
        <li itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" class="col-4">
            <link itemprop="url" href="https://www.graodegente.com.br/almofada-quarto-de-bebe-1/_order_sku-122302-93334-97455-126586-104040-100386-99307-120648-95005-121581-123979-99406-95687-142952-134594-137707-137701-101390-142955-135369-103723">
            <a href="/almofada-quarto-de-bebe-1/_order_sku-122302-93334-97455-126586-104040-100386-99307-120648-95005-121581-123979-99406-95687-142952-134594-137707-137701-101390-142955-135369-103723" title="Almofadas">
                <meta itemprop="caption" content="Almofadas">
                <meta itemprop="thumbnail" content="//dmhxz00kguanp.cloudfront.net/home/mobile/novo-almofadas.jpg">
                <img class="lz-src" src="https://dmhxz00kguanp.cloudfront.net/home/mobile/novo-almofadas.jpg" data-lz-src="//dmhxz00kguanp.cloudfront.net/home/mobile/novo-almofadas.jpg" alt="Almofadas" title="Almofadas">
                <strong class="uppercase h6 semibold block mt-10 mb-20">
                    Almofadas 
                </strong>
            </a>
        </li>
        <li itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" class="col-4">
            <link itemprop="url" href="https://www.graodegente.com.br/cabanas-e-tendas-1">
            <a href="/cabanas-e-tendas-1" title="Cabanas e tendas">
                <meta itemprop="caption" content="Cabanas e tendas">
                <meta itemprop="thumbnail" content="//dmhxz00kguanp.cloudfront.net/home/mobile/novo-cabanas-tendas.jpg">
                <img class="lz-src" src="https://dmhxz00kguanp.cloudfront.net/home/mobile/novo-cabanas-tendas.jpg" data-lz-src="//dmhxz00kguanp.cloudfront.net/home/mobile/novo-cabanas-tendas.jpg" alt="Cabanas e tendas" title="Cabanas e tendas">
                <strong class="uppercase h6 semibold block mt-10 mb-20">
                    Cabanas  <br>
                    e Tendas
                </strong>
            </a>
        </li>
    </ul>

    <div itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject">
        <link itemprop="url" href="https://www.graodegente.com.br/kit-berco">
        <a href="/home/kit-berco" title="Quarto Completo de Bebê" class="home__banner-full">
            <meta itemprop="caption" content="Quarto Completo de Bebê">
            <meta itemprop="thumbnail" content="//dmhxz00kguanp.cloudfront.net/home/mobile/novo-kit-berco.jpg">
            <img class="lz-src" src="https://dmhxz00kguanp.cloudfront.net/home/mobile/novo-quarto-completo.jpg" data-lz-src="//dmhxz00kguanp.cloudfront.net/home/mobile/novo-quarto-completo.jpg" title="Quarto Completo de Bebê" alt="Quarto Completo de Bebê" type="image/jpg" style="min-height: 209px;">
            <div class="box black">
                <span> Quartos </span>
                <b class="dark-gray">completos</b>
            </div>
        </a>
    </div>
    <a href="/quarto-de-bebe" title="Quarto Completo de Bebê" class="h3 center block uppercase mb-50">
        Vários Modelos, 
        <b>Lindos e <br>exclusivos</b>
    </a>

    <a href="moveis" title="Móveis" class="h3 center block uppercase bold mb-10"> Móveis </a>
    <div itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" class="mb-20">
        <link itemprop="url" href="https://www.graodegente.com.br/moveis-quarto-de-bebe">
        <a href="/moveis-quarto-de-bebe" title="Quarto Completo de Móveis">
            <meta itemprop="caption" content="Quarto Completo de Móveis">
            <meta itemprop="thumbnail" content="//dmhxz00kguanp.cloudfront.net/home/mobile/moveis2.jpg">
            <img class="lz-src" src="https://dmhxz00kguanp.cloudfront.net/home/mobile/moveis2.jpg" data-lz-src="//dmhxz00kguanp.cloudfront.net/home/mobile/moveis2.jpg" alt="Quarto Completo de Móveis" title="Quarto Completo de Móveis" style="min-height: 140px">
            <strong class="h5 center uppercase semibold mt-10 block"> Quartos Completos de Móveis </strong>
        </a>
    </div>

    <ul class="flex flex--justify-sb gutter">
        <li itemscope="" itemtype="http://schema.org/ImageObject" class="col-6 mb-20"> 
            <link itemprop="url" href="https://www.graodegente.com.br/berco">
            <a href="/berco" title="berços">
                <meta itemprop="caption" content="Berços">
                <meta itemprop="thumbnail" content="//dmhxz00kguanp.cloudfront.net/home/mobile/bercos.jpg">
                <img class="lz-src" src="https://dmhxz00kguanp.cloudfront.net/home/mobile/bercos.jpg" data-lz-src="//dmhxz00kguanp.cloudfront.net/home/mobile/bercos.jpg" alt="Berços" title="Cômodas">
                <strong class="h5 center uppercase semibold mt-10 block"> berços </strong>
            </a>
        </li>
        <li itemscope="" itemtype="http://schema.org/ImageObject" class="col-6 mb-20"> 
            <link itemprop="url" href="https://www.graodegente.com.br/comoda-e-criado-quarto-de-bebe">
            <a href="/comoda-e-criado-quarto-de-bebe" title="Cômodas">
                <meta itemprop="caption" content="Cômodas">
                <meta itemprop="thumbnail" content="//dmhxz00kguanp.cloudfront.net/home/mobile/comodas.jpg">
                <img class="lz-src" src="https://dmhxz00kguanp.cloudfront.net/home/mobile/comodas.jpg" data-lz-src="//dmhxz00kguanp.cloudfront.net/home/mobile/comodas.jpg" alt="Cômodas" title="Cômodas">
                <strong class="h5 center uppercase semibold mt-10 block"> Cômodas </strong>
            </a>
        </li>
        <li itemscope="" itemtype="http://schema.org/ImageObject" class="col-6 mb-20"> 
            <link itemprop="url" href="https://www.graodegente.com.br/guarda-roupas-quarto-de-bebe">
            <a href="/guarda-roupas-quarto-de-bebe" title="Guarda Roupas">
                <meta itemprop="caption" content="Guarda Roupas">
                <meta itemprop="thumbnail" content="//dmhxz00kguanp.cloudfront.net/home/mobile/guarda-roupas.jpg">
                <img class="lz-src" src="https://dmhxz00kguanp.cloudfront.net/home/mobile/guarda-roupas.jpg" data-lz-src="//dmhxz00kguanp.cloudfront.net/home/mobile/guarda-roupas.jpg" alt="Guarda Roupas" title="Guarda Roupas">
                <strong class="h5 center uppercase semibold mt-10 block"> Guarda Roupas </strong>
            </a>
        </li>
        <li itemscope="" itemtype="http://schema.org/ImageObject" class="col-6 mb-20"> 
            <link itemprop="url" href="https://www.graodegente.com.br/moveis/montessorianos">
            <a href="/moveis/montessorianos" title="Móveis Montessorianos">
                <meta itemprop="caption" content="Móveis Montessorianos">
                <meta itemprop="thumbnail" content="//dmhxz00kguanp.cloudfront.net/home/mobile/novo-montessoriano.jpg">
                <img class="lz-src" src="https://dmhxz00kguanp.cloudfront.net/home/mobile/novo-montessoriano.jpg" data-lz-src="//dmhxz00kguanp.cloudfront.net/home/mobile/novo-montessoriano.jpg" alt="Móveis Montessorianos" title="Móveis Montessorianos">
                <strong class="h5 center uppercase semibold mt-10 block"> Montessorianos</strong>
            </a>
        </li>
    </ul>


    <div class="mt-40">
        <ul class="flex gutter">
            {{ range where .Site.RegularPages "Section" "product"}}
                <li class="col-6 flex mb-30">    
                    {{ partial "components/productbox.html" .Params }}
                </li>
            {{ end }}
        </ul>
    </div>
</div>

{{ partial "footer.html" . }}

<script>
    $(document).ready(function() {
        $('.slider').slick({
            lazyLoad: 'anticipated',
            dots: true,
            autoplay: true,
            autoplaySpeed: 6000,
            arrows: false,
            speed: 200,
        });
    });
</script>