.home{
    .banner{
        margin-bottom: 30px;
        &__top{
            margin-bottom: 5px;
            height: auto;
        }
        &__slider{
            height: 520px;
        }
    }

    .benefits{
        margin-bottom: 30px;
        &:before{
            display: block;
            content:"";
            height: 1px;
            width: calc(100% - 30px);
            background-color: $gray;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
    
    &__banner-full{
        position: relative;
        display: block;
        .box{
            background-color: #fff;
            position: absolute;
            top: 50px;
            left: 0;
            right: 0;
            margin: auto;
            width: 105px;
            padding: 20px 10px;
            box-sizing: border-box;
            text-align: center;
            text-transform: uppercase;
            color: #000;
            letter-spacing: -1px;

            span{
                font-size: 18px;
            }
            b{
                font-size: 13px;
            }

            &--big{
                span{
                    font-size: 28px;
                }
                b{
                    font-size: 17px;
                }
            }
        }
    }
}