.product-page {
    position: relative;
    display: flex;
    flex-direction: column;

    .product--img__container{
        max-height: 550px;
        overflow: hidden;
        border:solid 1px blue; 
    }

    .slick-track{
        display: flex;
        align-items: center;
        
        .slick-slide{
            max-width: 550px;
            display: inline-block;
            outline: none;
        }

    }

    .slick-slider{
        margin-bottom: 0px !important;
    }

    .slick-dots {
        margin-top: 10px;
        left: 0px;
        justify-content: start;
        display: flex;
        bottom: inherit;

        li {
            width: 12px;
            margin: 0px;
            padding: 0px;

            button {
                margin: 0px;
                padding: 0px;

                &:hover,
                &[aria-selected="true"]{
                    &:before{
                        color: #00bfb3;
                    }
                }

                &:before{
                    font-size: 7px;
                    margin: 0px;
                    padding: 0px;
                }
            }
        }
    }

    .product-line{
        border:solid 1px red;
        margin-top: 50px;

        &--title{
            display: flex;
            font-size: 15px;
            color: #000;
            text-transform: uppercase;
            font-weight: bold;
            padding-right: 5px;
            padding-left: 17px;

            > div{
                flex-grow: 5;
            }

            > a {
                text-align: right;
                flex-grow: 1;
                color: #00bfb3;
                font-size: 13px;
                padding-right: 15px;
                position: relative;

                &:after {
                    content: "";
                    width: 0;
                    height: 0;
                    position: absolute;
                    border: 5px solid transparent;
                    border-left-color: #000;
                    display: block;
                    margin: auto;
                    top: 0;
                    bottom: 0;
                    right: 0;
                }
            }
        }

        &--list{
            border:solid 1px orange;
        }

    }
}