.product-page {
    position: relative;
    display: flex;
    flex-direction: column;

    .banner-poster > div {
        margin-bottom: 5px;
    }

    .product--img__container{
        max-height: 550px;
        overflow: hidden;
        border:solid 1px blue; 
    }

    .slick-track{
        display: flex;
        align-items: center;
        
        .slick-slide{
            max-width: 550px;
            display: inline-block;
            outline: none;
        }

    }

    .slick-slider{
        margin-bottom: 0px !important;
    }

    .slick-dots {
        margin-top: 10px;
        left: 0px;
        justify-content: start;
        display: flex;
        bottom: inherit;

        li {
            width: 12px;
            margin: 0px;
            padding: 0px;

            button {
                margin: 0px;
                padding: 0px;

                &:hover,
                &[aria-selected="true"]{
                    &:before{
                        color: #00bfb3;
                    }
                }

                &:before{
                    font-size: 7px;
                    margin: 0px;
                    padding: 0px;
                }
            }
        }
    }

    &__container{
        padding: 10px 20px 0;
        
        .product-page__name{
            font-size: 15px;
            line-height: 100%;
            margin-bottom: 6px;
        }
        .product-page__ref{
            margin-bottom: 20px;
            display: block;
            font-size: 12px;
        }
    }

    .product-line{
        margin-top: 30px;

        &--title{
            font-size: 15px;
            color: #000;
            text-transform: uppercase;
            padding-right: 5px;
            padding-left: 17px;

            a {
                text-align: right;
                color: #00bfb3;
                font-size: 13px;
                padding-right: 10px;
                position: relative;

                &:after {
                    content: "";
                    width: 0;
                    height: 0;
                    position: absolute;
                    border: 5px solid transparent;
                    border-left-color: #000;
                    display: block;
                    margin: auto;
                    top: 0;
                    bottom: 0;
                    right: -5px;
                }
            }
        }

        &--list{
            width: 100%;
            overflow-x: scroll;
            -webkit-overflow-scrolling: touch;
            margin: 20px 0;
            
            > .container-flex{
                -webkit-flex-wrap: nowrap;
                flex-wrap: nowrap;
                margin: 10px 0 20px;
                padding: 0 10px;
            }
        }

        &--product{
            min-width: 50%;
            max-width: 50%;
            margin: 0 8px 16px;
        }
    }

    .btn-description{
        position: relative;
        display: block;
        padding: 14px 50px 14px 20px;
        border-top: solid 1px #ccc;
        border-bottom: solid 1px #ccc;
        margin-bottom: 20px;
        font-family: $family-semibold;
        text-transform: uppercase;
        font-size: 14px;
        color: #000;

        &:after{
            content: "+";
            height: 13px;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 15px;
            margin: auto;
            font-family: $family-light;
            color: #ccc;
            font-size: 53px;
            line-height: 10px;
        }
    }

    .description{
        padding: 30px 20px 0;

        &__contianer{
            margin: 0 0 30px;
            &:not(:last-child) {
                border-bottom: solid 1px #ccc;
                display: block;
                padding-bottom: 30px;
            }
        }

        &__title{
            margin-bottom: 10px;
            font-family: $family-semibold;
            text-transform: uppercase;
            font-size: 17px;
            color: #00bfb3;
        }

        &__name{
            margin-bottom: 15px;
            strong,
            span {
                display: block;
                font-size: 14px;
                line-height: 20px;
            }

            strong {
                font-family: $family-semibold;
            }
        }

        &__info{
            * {
                font-family: $family-regular;
                vertical-align: top;
                line-height: 19px;
                font-size: 13px;
                color: $gray6;
                text-align: initial !important;
            }
            
            strong {
                font-family: $family-semibold;
                line-height: 20px;
            }

            .templateDetalheTabela tr:first-child > td {

                &.templateDetalheNome,
                &.templateDetalheQuantidade,
                &.templateDetalheDescricao {
                    display: none;
                }
            }

            table {
                width: 100%;
                display: table;
                border-spacing: 0;
                border-collapse: collapse;

                tr {
                    display: table;
                    width: 100%;
                    margin-bottom: 2px;
                }

                td {
                    &.templateDetalheDescricaoDetalhe {
                        padding-left: 7px;
                    }

                    &.templateDetalheTipo {
                        width: 53%;
                    }
                    // &.templateDetalheDescricao{
                    // width: 100%;
                    // }
                }
            }
    
            .templateDetalheTitulo {
                width: 100%;
                margin-top: 15px;
    
                .templateDetalheNome {
                    display: block;
                    font-family: $family-semibold;
                }
    
                .templateDetalheNomeDetalhe {
                    font-family: $family-semibold;
                    width: 100%;
                    padding: 10px 0;
                }
    
                .templateDetalheQuantidade {
                    width: 20%;
                }
            }
    
            .templateDetalheTituloBloco {
                font-family: $family-semibold;
                font-size: 14px;
                padding-top: 15px;
                color: $green;
                border-top: solid 1px #ccc;
                margin-top: 25px;
                display: block;
            }
    
            .templateDetalheTituloGeralBloco {
                text-transform: uppercase;
                display: block;
                position: relative;
                bottom: -23px;
            }
    
            .templateDetalheTexto,
            .templateDetalheTituloBlocoDivisor,
            .templateDetalheTituloGeralBlocoDivisor {
                display: none
            }
        }        
    }
}